<div class="container">
  <div class="row justify-content-center">
    <h4 class="mt-4 mb-4 display-4">Show details of record <%= @record.id %></h4>
  </div>
  <div class="row justify-content-center">
    <table class="table">
      <tbody>
        <tr>
          <th>Title:</th>
          <td><%= @record.dct_title_s %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>